SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PORT=3001
FRONTEND_URL=http://localhost:3000
SUPABASE_REDIRECT_URL=http://localhost:3001/auth/callback
SUCCESS_REDIRECT_URL=http://localhost:3001/health
EMAIL_VERIFY_REDIRECT_URL=http://localhost:3000/login
PASSWORD_RESET_REDIRECT_URL=http://localhost:3000/reset-password
NODE_ENV=development